<!DOCTYPE html>
<html>
  <head>
    <title>Postcards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Editar Postcard</h1>
    <form action="/edit/<%= postcard.id %>" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name" value="<%= postcard.name %>" required>
        <label for="cidade">Cidade:</label>
        <input type="text" id="cidade" name="cidade" value="<%= postcard.cidade %>" required>
        <label for="pais">Pais:</label>
        <input type="text" id="pais" name="pais" value="<%= postcard.pais %>" required>
        <label for="descricao">Descrição:</label>
        <textarea type="descricao" id="descricao" name="descricao" required><%= postcard.descricao %>"</textarea>
        <label for="imgUrl">URL da Imagem:</label>
        <input type="text" id="imgUrl" name="imgUrl" value="<%= postcard.imageUrl %>" required>
        <button type="submit">Salvar</button>
    </form>
    <a href="/">Voltar</a>
  </body>
</html>
