<!DOCTYPE html>
<html>
  <head>
    <title>Postcards</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Postcards</h1>
    <ul>
      <% postcards.forEach(postcard => { %>
        <li>
          <strong><%= postcard.name %></strong> - <%= postcard.cidade %>, <%= postcard.pais %>
          <a href="/edit/<%= postcard._id %>">Editar</a>
          <a href="/delete/<%= postcard._id %>">Excluir</a>
        </li>
      <% }); %> 
    </ul>
    <a href="/add">Adicionar Postcard</a>
  </body>
</html>
